<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Jupiter_blank" connectionString="server=virtualhost\sqlexpress;Initial Catalog=proTrace_Jupiter_Blank;Integrated Security=SSPI;Asynchronous Processing=True" />
  </connectionStrings>
  <appSettings>
    <add key="databaseInstance" value="proTrace_Jupiter_Blank"/>
  </appSettings>
</configuration>